/* Write your CSS here */

.piechart-circle-container {
  background-color: #1c1c2b;
  margin-top: 12px;
  padding: 15px;
}

.head {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 20px;
  margin-top: 10px;
  align-self: flex-start;
}
